.header_section {
    position: relative;
    display: block;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    /* background-color: brown; */
    align-items: stretch;
    background-image: url(../images/5d2874b8180ea9a7d19e0b3e_ikhokha_card_machine.jpg),radial-gradient(circle closest-corner at 50% 50%,#302f33,#0e0e0f);
    background-position: 50% 50%,0 0;
    background-size: cover,auto;
}

.header_container{
    height: 100vh;
}

.header_content{
    color: white; 
}

.header_link_logo{
    margin-bottom: 60px;
}